doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Slabo+27px')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/js/webpack/commonBundle.js')
    script(src='/js/webpack/app.js')
